.button {
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-font-family: Andalus;
    -fx-background-color: #379683;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-padding: 3 6 6 6;
    -fx-focus-traversable: true;
}

.top-buttons {
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-font-family: Andalus;
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 6 6 6 6;
    -fx-focus-traversable: true;
}

.account-button {
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-font-family: Andalus;
    -fx-background-color: #5CDB95;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 6 6 6 6;
    -fx-focus-traversable: true;
}

.button:focused {
    -fx-border-color: #EFE2BA;
}

.button:hover {
    -fx-font-weight: BOLD;
    -fx-border-color: #EFE2BA;
}

.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

/* overwrite default row style */
.table-row-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

/* apply row style to cells instead */
.table-row-cell .table-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:odd {
    -fx-background: -fx-control-inner-background-alt;
}

/* fix markup for selected cells/cells in a selected row */
.table-row-cell:filled > .table-cell:selected,
.table-row-cell:filled:selected > .table-cell {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-table-cell-border-color: derive(-fx-background, 20%);
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected .table-cell,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected {
    -fx-background: -fx-selection-bar;
}
.table-view .column-header-background .label,
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #6622CC;
    -fx-fill: #6622CC;
}
.table-view .column-header {
    -fx-border-color: white;
}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-min-width: 20px;
}
.table-view .cell{
    -fx-cell-size: 35;
    -fx-alignment: center;
    -fx-background-color: #29292D;
    -fx-border-color: #29292D;
    -fx-text-fill: lightgray;
}
.table-row-cell:selected {
    -fx-border-color: whitesmoke;
    -fx-background-color: whitesmoke;
    -fx-text-background-color:  #6622CC;
}
.table-row-cell:selected .text {
    -fx-fill: red;
}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive( #6622CC,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #6622CC,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.label {
    -fx-font-size: 17;
    -fx-font-family: Andalus;
    -fx-padding: 6 6 6 6;
    -fx-background-color: #C5CBE3;
}

.scroll-pane > .viewport {
    -fx-background-color: #C5CBE3;
}

.scroll-pane {
    -fx-background-color: #C5CBE3;
}

.text-field{
    -fx-font-family: Andalus;
    -fx-font-size: 14;
    -fx-background-color: #EFE2BA;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 6 6 6 6;
    -fx-alignment: CENTER;
}

.text-field:focused {
    -fx-border-color: red;
}

.persistent-prompt:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}
.no-prompt {
    -fx-prompt-text-fill: transparent !important;
}

.combo-box-base {
    -fx-font-family: Andalus;
    -fx-font-size: 15;
    -fx-background-color: #AFD275;
    -fx-padding: 2 2;
}

.combo-box-base:editable {
    -fx-background-color: #FF0;
}

.combo-box-base:editable > .text-field {
    -fx-border-image-source: null;
    -fx-background-color: transparent;
    -fx-padding: 1 0;
}

.combo-box-base > .arrow-button {
    -fx-background-color: #D79922;
    -fx-padding: 0 4;
}

.combo-box-base > .arrow-button > .arrow {
    -fx-background-color: black;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 2 4;
    -fx-shape: "M 0 0 H 7 L 3.5 4 z";
}

.combo-box-popup > .list-view {
    -fx-font-family: Andalus;
    -fx-font-size: 15;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-background-insets: 0, 1;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 1 10;
    -fx-background: #E7717D;
    -fx-text-fill: black;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background: green;
    -fx-background-color: orange !important;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: silver !important;
}
.combo-box-popup > .list-view > .placeholder > .label {
    -fx-text-fill: blue;
}

.hyperlink {
    -fx-text-fill: black;
    -fx-font-family: Andalus;
    -fx-font-size: 18;
}